
.site-logo img {
    float: left;
    overflow: hidden;
    height: 100px !important;
   
    margin: 0;
    padding: 0;
}
nav ul li span.rnd-3 {
    display: inline;
    float: left;
    height: 41px;
    margin: 0;
    padding: 11px 20px 10px;
    cursor: pointer;
    -webkit-transition: 0s;
    transition: .4s;
    color: #fff;
    border: 1px solid #8cc63f!important;
    background: #8cc63f!important;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: 400;
}