.site-logo img {
    float: left;
    overflow: hidden;
    height: 100px !important;
   
    margin: 0;
    padding: 0;
}
nav ul li span.rnd-3 {
    display: inline;
    float: left;
    height: 41px;
    margin: 0;
    padding: 11px 20px 10px;
    cursor: pointer;
    -webkit-transition: 0s;
    transition: .4s;
    color: #fff;
    border: 1px solid #8cc63f!important;
    background: #8cc63f!important;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: 400;
}
span.rnd-3{
    border: 1px solid #8cc63f!important;
    background: #8cc63f!important;
}
.contour{
    margin-bottom: 20px;

}
.prices-bottom{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    margin: 60px 0;
    border-radius:8px;
}

section#examples {
    position: relative;
    padding: 0 0 66px;
    text-align: center;
    background-image:url('../images/cv.png')!important;
}

@media screen and (min-width: 736px){
    .hero {
    height: 530px!important;
    padding: 95px 0 0;
   }
}
